{% extends "base.html" %}

{% block body_class %}{{ 'on' if running else 'off' }}{% endblock %}

{% block content %}
<h1>Welcome to pi-cam.</h1>

<p class="lead">Ohai. Let's see what's going on!</p>

<div class="row">
  <div id="controls" class="span9" data-vctrl="{{ url_for('vcontrol') }}">
    <button id="on" class="btn btn-primary hide-on">Switch on</button>
    <button id="off" class="btn hide-off">Switch off</button>
  </div>
</div>

<div class="row">
  <div id="cam" class="span9" data-imgsrc="{{ settings['CAM_SRC'] }}">
      {% if running %}
        <img src="{{ settings['CAM_SRC'] }}">
      {% endif %}
  </div>
</div>
{% endblock %}